/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1,h2 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}